.Home{
	background-color: #21201c;
	width: 100vw;
	height: 100vh;
}

.Title{
	color:white;
	text-align:center;
	font-size:10vh;
	padding-top:40vh;
	font-family: helvetica;
}
.links {
  display: flex;
  position: absolute;
  top: 10px;
  right: 20px;
  height: 10vh; 
z-index: 5;
}
.Dashboard{
	color:white;
	text-align:center;
	display:flex;
	justify-content: center;
	align-items: center;
	font-family: helvetica;
}
.DashboardText{
	color:white;
	text-align:center;
	display:flex;
	justify-content: center;
	align-items: center;
	font-family: helvetica;
	font-size:5vh;
}
.return{
	position: absolute;
	left: 10px;
	top: 10px;
	display: flex;
	cursor: pointer;
		z-index: 1;
}
@keyframes flicker {
  0%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
}
.flicker-title {
  animation: flicker 5s infinite;
  display: inline-block;
}

